.hexagon {
    &__player {
        fill: purple;
    }

    &__water {
        fill: lightskyblue;
    }

    &__forest {
        fill: lightgreen;
    }

    &__impassable {
        fill: black;
    }
}
