.hexa-quest__wrapper {
    background-image: url("/src/assets/img/hexagons/water-texture.png");
}

.hexa-quest__gui {
    width: 200px;
    padding: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: lightgray;
}

.hexagon-grid {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.hexagon-grid:hover {
    & .hexagon__inaccessible {
        opacity: 0.7;
    }
}

