@import "./reset";
@import "./scrollbar";
@import "./typography";
@import "./placement";
@import "./alignment";

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #17252A;
}
